@page {
    size: letter;
    margin-top: 0.8in;
    margin-bottom: 1.0in;
    @top-center {content: element(centerHeader);}
}

#header {
    position: running(centerHeader);
}

#date {
    text-align:right;
}

#logo{
    float:left;
}
#jobName {
	text-align:right;
}

#footer {
	position: running(footer);
	text-align: center;
}

@page {
	@bottom-center {
	content: element(footer);
}
}

#pagenumber:before {
	content: counter(page);
}

#pagecount:before {
	content: counter(pages);
}

#ph-no {
	float:left;
}