/************************************************************************************************
body:
    use this for the background applied to the whole document (the <body> tag)
    this is mainly so that we can simulate columns until browsers support CSS3...
    whenever that's gonna be.
************************************************************************************************/            
body {
   /* background: url(../images/body_bg.gif) repeat-y;*/
}


/************************************************************************************************
branding:

************************************************************************************************/            
#branding {
  background: url(../images/branding_BG.gif);
  background-repeat:no-repeat;
  background-position:center;
}



/************************************************************************************************
tabs:
now with even more rounded corners
************************************************************************************************/
#tabs {
/* background: url(../images/tab_BG.gif);*/
}
#tabs_frame{
background: url(../images/tab_BG.gif);
}
#tab_arrows{
display:none;
}

/*
-- Even more rounded corners with CSS: Base stylesheet --
*/

#tabs a {
padding: 0;
text-decoration: none;
margin-top: 10px;
margin-right: 2px;
float: left;
/* font-weight: bold; */
text-transform: capitalize;
font-size: 12px;
display: block;
/*color: rgb(86,107,117); */
color: #fff;
position:relative;
z-index:1;
cursor: pointer;

/*attempt to fix IE6*/
_width: 0;
white-space: nowrap;
}


#tabs a:hover {
/*color: rgb(86,107,117);*/
/*color: rgb(130,102,71);*/
/*color: rgb(130,102,71);*/
}

#tabs a.active, #tabs a:active {
/*color: rgb(86,107,117);*/
/*color: rgb(130,102,71);*/
/*color: rgb(215,182,133);*/
color: rgb(95, 103, 111);
/*color: #000;*/
}

#tabs a .content,
#tabs a .t{
background:transparent url(../images/tabs_blue.gif) no-repeat top right;
_background-image:url(../images/tabs_blue.gif);

}


#welcome_tab a .content,
#welcome_tab a .t{
background:transparent url(../images/welcome_tab.gif) no-repeat top right;
_background-image:url(../images/welcome_tab.gif);

-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;

-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
}

#welcome_tab.bottomWelcomeTab a .content,
#welcome_tab.bottomWelcomeTab a .t{
background:transparent url(../images/welcome_tab_bottom.gif) no-repeat top right;
_background-image:url(../images/welcome_tab_bottom.gif);

-moz-border-radius-topleft: 5px;
border-top-left-radius: 5px;

-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;

-moz-border-radius-bottomleft: 0px;
border-bottom-left-radius: 0px;

-moz-border-radius-bottomright: 0px;
border-bottom-right-radius: 0px;

}



/*#tabs a:hover .content,*/
#tabs a.active .content{
background: transparent url(../images/tabs_white.gif) no-repeat top right;
_background-image: url(../images/tabs_white.gif);
}

/*#tabs a:hover .t,*/
#tabs a.active .t {
background: transparent url(../images/tabs_white.gif) no-repeat top left;
_background-image: url(../images/tabs_white.gif);
}

#welcome_tab a .content, #tabs a .content {
position: relative;
zoom: 1;
_overflow-y: hidden;
text-align: center;
padding-top: 2px;
padding-bottom: 4px;
padding-left: 0;
margin-left: 6px; /* default, width of left corner */
padding-right: 12px; /* make this a little bigger than the margin-left */

}
#welcome_tab a{
text-decoration:none;
}
#welcome_tab a .content{
text-decoration:none;
color:#fff;
}
#welcome_tab a .content em{
color:#ccc;
}
#welcome_tab a .t , #tabs a .t {

/* top+left vertical slice */
position: absolute;
left: 0px;
top: 0px;
width: 12px; /* top slice width */
margin-left: 0;
height: 100%;
/* _height:1600px;*/ /* arbitrary long height, IE 6 */
background-position: top left;

_padding-bottom: 6px;
}



/************************************************************************************************
modules:
    acts as lefthand column
************************************************************************************************/          

#modules {
    /* background: rgb(250, 250, 250); */
}

#modules a {
	/* background: rgb(255, 123, 0);*/
	/* border-bottom: 1px solid rgb(192, 198, 202); */
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

#modules div {
   background: #fff;
}

#modules div a {
   /*background: rgb(42, 42, 42);*/
   color: rgb(95, 103, 111);
}

#modules div a:hover, #modules div a.active_module {
   /*background: rgb(241, 241, 241);*/
   color: #000;
}

/*
#modules div a.active_module {
   /*background: rgb(241, 241, 241);*/
   color: rgb(130,102,71);
}
*/



/************************************************************************************************
#main:

************************************************************************************************/            

#main {
   /* background: #fff; */
}


#main .white{
/*  background: url(../images/main_white_BG.gif);   */
}

#main .grey {
/*  background: url(../images/main_grey_BG.gif);        */
}


/* resolves to <admin:title>*/
#main h1 {
    margin-left: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: normal;
	/*color: rgb(86,107,117);*/
        /*color: rgb(215,182,133);*/
        color: #000;
}

/* resolves to <admin:subtitle>*/
#main h2 {
    margin-left: 0;
	padding-top: 0;
	padding-left: 10px;
	padding-bottom: 8px;
	font-size: 13px;	
	font-weight: normal;
	color: #000;
}

#main h1 a, #main h2 a{
	color: rgb(146,108,43);
	text-decoration: none;
}

#main p{
/*    margin-left:0;*/
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 8px;
    color: rgb(86,107,117);
/*    border: 1px solid #f00;*/
/*    padding-left: 35px;*/
/*    padding-bottom: 10px;*/
}

#main p a {;
	color: rgb(146,108,43); 
	text-decoration: none;
}

#main a.submit{
/*    @fix*/
   margin-left: 8px;
}

/***************/

/************************************************************************************************
#main "shaded" box style:

************************************************************************************************/            

#main div.adminbox_container p{
   margin: 0;
}

#main div.adminbox_container{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;    
    margin-bottom: 20px;    

}
#main div.adminbox{
    padding-top: 0px;
    background: url(../images/form_bg.png) repeat-y;    
}

#main div.adminbox_white{
    padding-top: 0px;    
}

#main div.adminbox_container img.adminbox_top {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url(../images/form_top.gif) bottom center no-repeat;
}

#main div.adminbox_container_white img.adminbox_top_white {
    position: absolute;
    top: 0;
    left: 0;
    /*background: #fff;*/
}

#main div.adminbox_container img.adminbox_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff url(../images/form_bottom.gif)  top center no-repeat;
}

#main div.adminbox_container_white img.adminbox_bottom_white {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
}




/***************/



/************************************************************************************************
#main "indented" box style:
    resolves to <admin:subbox>
************************************************************************************************/            

#main div.indented{
   margin-left: 24px;
}

/***************/





/************************************************************************************************
#main search listings:

************************************************************************************************/            
#main .listing {
   /* margin-top: 24px; */
    width: 705px;
/*    margin-left: -4px;*/
    color: rgb(95, 103, 111);
    padding-bottom: 0px;
    margin-left:10px;
    border: 1px solid rgb(171, 179, 185);
}

#main .listing td.smallform{
    
}

#main .listing td.smallform{
    width: 23px;
    padding-left: 1px;
}

#main .listing h1 {
    font-size: 22px;
    border: none;
    color: 
}

#main .listing table {
    /*@fix*/
    margin-left: 0;    
    /*width: 705px;*/
    background: #fff;
}

#main .listing td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
/*    border-bottom: 1px solid rgb(95, 103, 111);*/
    /*color: rgb(86,107,117);*/
    color: #000;
    font-size: 11px;

}

#main .listing td img{
    margin-top: -2px;
}


#main .listing tr.even td{
    background: rgb(250, 250, 250);
}



#main .listing tr.listing_header td{
    padding-bottom: 2px;
    padding-top: 2px;
    /*color: rgb(120, 139, 170);*/
    color: rgb(95, 103, 111);    
}

#main tr.listing_header {
    border-bottom: 1px solid rgb(171, 179, 185);
}

#main tr.listing_header td.regular {
    background: url(../images/listing_header.gif) repeat-y;
}

#main tr.listing_header td.regularOn {
    background: url(../images/listing_header_on.gif) repeat-y;
}

#main tr.listing_header td.first {
    background: url(../images/listing_header_start.gif) repeat-y;
}

#main tr.listing_header td.firstOn {
    background: url(../images/listing_header_start_on.gif) repeat-y;
}

#main .listing tr.listing_header td.right {
    text-align: right;
}

#main .listing tr.listing_header td strong {
    font-size: 11px;
    font-weight: bold;
    /*color: rgb(86,107,117);*/
    color: rgb(95, 103, 111);
    text-transform: capitalize;
}

#main .listing tr.listing_header td strong.sorting {
    float: left;
}

#main tr.listing_header td img {
    margin-top: 3px;
    float: right;    
}

#main .listing form {
   margin: 0;
   padding: 0;
/*   border: 1px solid #f00;*/
}


/************************************************************************************************
#main form styles:

************************************************************************************************/            

#main{
/*    border: 1px solid #f00;*/
    padding-left: 25px;
   padding-top: 20px;

/* this is 20px less than the container...see structure.css*/
   width: 776px; 
   
    
}

#main form table{
    /*@html editor -- html editor takes this on if you uncomment*/
/*   width: 728px;*/
}


#main form table td {
/*    text-align: left;*/
    padding-bottom: 10px;
	padding-right: 8px;
    /*width: 560px;*/
}

#main form table td input
{
   width: 175px;
} 
#main form table td textarea
{
   width: 350px;
}


/* the standard action button, also see the style for "#main .listing td a, #main a.submit"*/
#main form table td a.submitbutton,
#main form table td input[type="submit"],
#main .listing td input[type="submit"]
{
    background: none;
    border: none;
    text-transform: capitalize;
    color: #336;
    border-bottom: 1px solid #fff;
    padding: 0;
    text-decoration: none;
}

#main form table td input[type="submit"]:hover, #main .listing td input[type="submit"]:hover{
    border-bottom: 1px solid #000;
}



/* exemptions */
#main form table td input[type="submit"],
#main form table td input[type="checkbox"],
#main form table td input[type="radio"],
#main form table td input[type="password"],
#main form table td input[id="password"],
#main form table td input[id="username"],
#main form table td input[type="file"]
{
    width: auto;
}

#main form table td div.mceEditor{
    display: block;
/*    margin-left: 8px;
    margin-bottom: 7px;
*/}

#main form table td a {
    /*color: rgb(74,176,224);*/
    color: #0e6dc6; /*gb(146,108,43);*/
    text-transform: capitalize;
    font-size: 11px;
    text-decoration: none;
}

#main form table td a:hover {
    color: #000;
}

#main form table td input, 
#main form table td textarea,
#main form table td select,
#main form table td .selectholder,
#main form table td .checkboxholder,
#main form table td .radiobuttonholder,
#main form table td .info
{
    vertical-align: top;
    font-size: 12px;
    padding: auto;
/*  margin-bottom: 7px;*/
/*  margin-left: 8px;
*/

}

#main form table td a.submitbutton {
    font-size: 12px;
    padding: auto;
}

#main form table td .selectholder select,
#main form table td .checkboxholder input,
#main form table td .radiobuttonholder input
{
	margin: 0;
}


#main form table td .withborder,
#main form table td select
{
	border: 1px solid #999;
}

#main form table td.labelcolumn{
	text-align: right;
	width: 135px;
}
#main form table td label{
	text-transform: capitalize;
	/*color: rgb(82, 82, 82);*/
            color: rgb(95, 103, 111);
    font-size: 12px;	
}

/* the standard action button, also see the styles for "#main form table td input[type="submit"], #main .listing td input[type="submit"]{" */
#main .listing td a, #main a.submit{
    /*color: rgb(74,176,224);*/
       /*color: rgb(215,182,133);*/
    color: #0e6dc6;/*rgb(146,108,43);*/
    text-decoration: none;
    text-transform: capitalize;
    font-size: 11px;
}
#main .listing td a:hover, #main a:hover.submit{
    text-decoration: none;
    color: #000;
}



/************************************************************************************************
#main notifier:
    a.k.a. "the flash"
************************************************************************************************/            
#main #flash {
	margin: 0 33px;	
	padding: 8px 2px;
	width: auto;
	font-weight: bolder;
}

/************************************************************************************************
Toggle Styles
************************************************************************************************/
#toggle_btn a{
	position:relative;
}
.toggle_img{
	display:none;
}

/************************************************************************************************
Buttons
************************************************************************************************/        

a .waitingButton {
    background: url(../images/waiting.gif) no-repeat;
    width:16px;
    height:16px;
    margin-left:25px;
    margin-right:26px;
}

a .saveButton {
    background: url(../images/save.gif) no-repeat;
    width:67px;
    height:19px;
    padding:0px;
    margin:0px;
    border: none;
}

a .submitButton {
    background: url(../images/submit.gif) no-repeat;
    width:67px;
    height:19px;
    padding:0px;
    margin:0px;
    border: none;
}

a .save_offButton {
    background: url(../images/save_off.gif) no-repeat;
    width:67px;
    height:19px;
    padding:0px;
    margin:0px;
    border: none;
}

a img.LogoutTabButton {
	float:left;
	background: url(../images/tab_close.gif) top right no-repeat;
	width:14px;
	height:14px;
	padding:0px;
	margin:0px 5px 0 0 ;
	border: none;
}

/*
a:hover .saveButton {
    background: url(../images/cancelButton.gif) no-repeat;
    width:67px;
    height:18px;
}
*/
a .cancelButton {
    background: url(../images/cancel.gif) no-repeat;
    width:67px;
    height:19px;
}

a .cancel_offButton {
    background: url(../images/cancel.gif) no-repeat;
    width:67px;
    height:19px;
}
/*
a:hover .cancelButton {
    background: url(../images/saveButton.gif) no-repeat;
    width:67px;
    height:18px;
}
*/
a .deleteButton {
    background: url(../images/delete.gif) no-repeat;
    width:67px;
    height:19px;
}

a .delete_offButton {
    background: url(../images/delete.gif) no-repeat;
    width:67px;
    height:19px;
}
/*
a:hover .deleteButton {
    background: url(../images/saveButton.gif) no-repeat;
    width:67px;
    height:18px;
}
*/

a .searchButton {
    background: url(../images/search.gif) no-repeat;
    width:67px;
    height:19px;
}

a .search_offButton {
    background: url(../images/search_off.gif) no-repeat;
    width:67px;
    height:19px;
}
/*
a:hover .searchButton {
    background: url(../images/saveButton.gif) no-repeat;
    width:67px;
    height:18px;
}
*/

a .loginButton {
    background: url(../images/submit.gif) no-repeat;
    width:67px;
    height:19px;
}

a .login_offButton {
    background: url(../images/login_off.gif) no-repeat;
    width:67px;
    height:19px;
}
/*
a:hover .loginButton {
    background: url(../images/saveButton.gif) no-repeat;
    width:67px;
    height:18px;
}
*/

a .logoutButton {
    background: url(../images/logout.gif) no-repeat;
    width:67px;
    height:19px;
}

a .logout_offButton {
    background: url(../images/logout_off.gif) no-repeat;
    width:67px;
    height:19px;
}
/*
a:hover .logoutButton {
    background: url(../images/saveButton.gif) no-repeat;
    width:67px;
    height:18px;
}
*/












a .skipButton {
    background: url(../images/skip_step.gif) no-repeat;
    width:179px;
    height:31px;
}

a:hover .skipButton {
    background: url(../images/skip_step_on.gif) no-repeat;
    width:179px;
    height:31px;
}

a .applicationButton {
    background: url(../images/create_application.gif) no-repeat;
    width:179px;
    height:31px;
}

a:hover .applicationButton {
    background: url(../images/create_application_on.gif) no-repeat;
    width:179px;
    height:31px;
}

a .scenarioButton {
    background: url(../images/create_scenario.gif) no-repeat;
    width:179px;
    height:31px;
}

a:hover .scenarioButton {
    background: url(../images/create_scenario_on.gif) no-repeat;
    width:179px;
    height:31px;
}

a .screenButton {
    background: url(../images/create_screen.gif) no-repeat;
    width:179px;
    height:31px;
}

a:hover .screenButton {
    background: url(../images/create_screen_on.gif) no-repeat;
    width:179px;
    height:31px;
}

a .deviceButton {
    background: url(../images/create_skin.gif) no-repeat;
    width:179px;
    height:31px;
}

a:hover .deviceButton {
    background: url(../images/create_skin_on.gif) no-repeat;
    width:179px;
    height:31px;
}

a .graphicButton {
    background: url(../images/create_graphic.gif) no-repeat;
    width:205px;
    height:31px;
}

a:hover .graphicButton {
    background: url(../images/create_graphic_on.gif) no-repeat;
    width:205px;
    height:31px;
}

a .iconButton {
    background: url(../images/create_icon.gif) no-repeat;
    width:179px;
    height:31px;
}

a:hover .iconButton {
    background: url(../images/create_icon_on.gif) no-repeat;
    width:179px;
    height:31px;
}

a .tabButton {
    background: url(../images/create_tab.gif) no-repeat;
    width:179px;
    height:31px;
}

a:hover .tabButton {
    background: url(../images/create_tab_on.gif) no-repeat;
    width:179px;
    height:31px;
}

a .carouselButton {
    background: url(../images/create_carousel.gif) no-repeat;
    width:205px;
    height:31px;
}

a:hover .carouselButton {
    background: url(../images/create_carousel_on.gif) no-repeat;
    width:205px;
    height:31px;
}

.listingIcon {
    width:17px;
    height:17px;
}

img.preview {
    background: url(../images/preview.gif) no-repeat;
    width: 89px;
    height: 50px;
    margin-right: 25px;
}


.arrow_right b {
    background: url(../images/arrow_right.gif) no-repeat;
    padding-left: 12px;
    /*margin-top: 40px;
    width: 89px;
    height: 50px;
    margin-right: 25px;*/
}

.arrow_down b {
    background: url(../images/arrow_down.gif) no-repeat;
    padding-left: 12px;
    /*margin-top: 40px;
    width: 89px;
    height: 50px;
    margin-right: 25px;*/
}


#nav_applications img.open{ background: url(../images/mod_applications_open.gif) no-repeat;}
#nav_assets img.open{ background: url(../images/mod_assets_open.gif) no-repeat;}
#nav_publish img.open{ background: url(../images/mod_client_open.gif) no-repeat;}

#nav_applications img{ background: url(../images/mod_applications.gif) no-repeat;}
#nav_assets img{ background: url(../images/mod_assets.gif) no-repeat;}
#nav_publish img{ background: url(../images/mod_client.gif) no-repeat;}


